* {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: '', sans-serif;
}

#main-content-title {
    display: flex;
    font-size: 2rem;    
    text-align: center; 
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 1% 10%;   
    
    color: #a30909;    
}

#skills {
    display: flex;
    font-size: 2rem;        
    justify-content: center;
    align-items: center;
    position: sticky;        
}

#margin-slot {      
    text-align: center;
    margin: 1% 2%;       
}

#skill-duration-label{
    font-size: 1rem;
    color: #ffffff;  
}

#aboutme {
    display: flex;         
    justify-content: center;
    align-items: top;
    position: sticky;  
    text-align: center;
    margin: 0% 25%;    
}

#aboutmetwo {
    display: block;         
    justify-content: center;
    align-items: top;
    position: sticky;  
    text-align: center;
    margin: 0% 25%;    
}

#aboutme-text{    
    font-size: 1rem;
    color: #ffffff;  
}

/* THIS SECTION IS FOR WHEN CONTENT DOES NOT FIT ON SCREEN E.G. Mobile */
@media screen and (max-width: 960px) {
    #main-content-title {
        display: flex;
        font-size: 2rem;    
        text-align: center; 
        justify-content: center;
        align-items: center;
        position: sticky;
        margin: 1% 10%;           
        color: #a30909;      
    }
    
    #skills {
        display: flex;
        font-size: 2rem;        
        justify-content: center;
        align-items: center;
        position: sticky;   
        transform: scale(.4,.4);                          
    }
    
    #skill-slot { 
        margin: 0% 2%;   
    }
    
    #skill-duration-label{
        font-size: 1rem;
        color: #ffffff;  
    }

    #aboutme {
        display: flex;         
        justify-content: center;
        align-items: top;
        position: sticky;  
        text-align: center;
        margin: 0% 25%;    
    }
    
    #aboutmetwo {
        display: block;         
        justify-content: center;
        align-items: top;
        position: sticky;  
        text-align: center;
        margin: 0% 25%;    
    }
    
    #aboutme-text{    
        font-size: .4rem;
        color: #ffffff;  
    }
}