.profiles{
    display: flex;
    justify-content: center;
}

.profile-container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.profile-tab{
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 200px;
    background-color: #2B2B2B;
    border-radius: 2rem;
    box-shadow: 0px 0px 0.5rem 1px white;    
}

.profile-emoji{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: #747474;
    border-radius: 1rem;
    border: 2px solid white;
}

.profile-text{
    margin-left: 25px;
    font-weight: 750;
    color: white;
}

.profile-info-text{
    color: white;
    padding-bottom: 25px;
    font-weight: 500;   
    text-align: center;
}

.socials{
    display: flex;
    justify-content: center;
}

.social-icon{    
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.social-icon img{
    width: 40px;
    height: 40px;
}

.social-icon:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

/* THIS SECTION IS FOR WHEN CONTENT DOES NOT FIT ON SCREEN E.G. Mobile */
@media screen and (max-width: 960px) {
    .profiles{
        display: grid;
    }
    .profile-container{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .profile-tab{        
        margin-bottom: 10px;
        width: 200px;
        box-shadow: 0px 0px 0.25rem 1px white;    
    }

    .profile-text{
        margin-left: 25px;
        font-weight: 750;
    }

    .profile-info-text{
        padding-bottom: 5px;
        font-weight: 500;   
        font-size: .75rem;
    }

    .socials{ margin-top: 20px; }
}