.project-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.card{
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.card-image{
    position: relative;
    color: white;
    transition: .2s;
    width: 300px;
    height: 300px;
}

.card-image:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.card-image img{
    border: 5px solid black;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #000000;
    width: 300px;
    height: 300px;
}


.card-title{
    display: flex;
    position: absolute; 
    background: rgba(0, 0, 0, .75);
    border-radius: 1rem;
    color: #ffffff;
    
    width: 300px;
    height: 75px;    
    bottom: 0px;
    justify-content: center;
    align-items: center;   
    text-align: center; 

    transition: 0.25s;
}

.card-brief{
    display: flex;
    position: absolute;
    background: rgba(22, 22, 22, 0.75);
    border-radius: 1rem;
    opacity: 0;    
    visibility: hidden; 

    width: 300px;
    height: 300px;
    bottom: 0;
    justify-content: center;
    align-items: center;   
    text-align: center; 

    transition: 0.5s;
}

.card-brief-text{ padding: 20px; }

.card-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.card-skill img{
    width: 50px;
    height: auto;
    padding: 5px;
    transform: 0.1s;
}

.card-skills{
    opacity: 1;
    transition: 0.25s;
}

.card-video{    
    display: flex;
    position: absolute;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    background: rgba(22, 22, 22, 0.75);
    border-radius: 1rem;
    border: 5px solid black;

    bottom: 0;
    max-width: 300px;
    width: auto;
    height: 300px;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card-video video{
    width: auto;
    height: 300px;
}
.card-image:hover .card-video{
    visibility: visible;
    opacity: 1;
}

.card:hover .card-skills{ opacity: 0; }

.card-image:hover .card-title{ opacity: 0; }
.card-image:hover .card-brief{ 
    visibility: visible; 
    opacity: 1;
}

/* THIS SECTION IS FOR WHEN CONTENT DOES NOT FIT ON SCREEN E.G. Mobile */
@media screen and (max-width: 960px) {
    .project-container{ grid-template-columns: auto; }

    .card{ margin: 10px 10px; }

    .card-image{
        width: 300px;
        height: 300px;
    }

    .card-image img{
        width: 300px;
        height: 300px;
    }

    .card-title{
        border-radius: .5rem;        
        width: 300px;
        height: 50px;    
    }

    .card-brief{
        width: 300px;
        height: 300px;
    }

    .card-video{    
        max-width: 300px;
        width: auto;
        height: 300px;
    }

    .card-video video{
        width: auto;
        height: 300px;
    }

    .card-image:hover{ transform: scale(1.025); }
}